
<button class="btn btn-primary btn-sm" routerLink='/article-edition/0'>Create article</button>
<div class="content" fxLayout="row wrap" fxLayoutGap="1rem grid">
  <div fxFlex="33%"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="50%"
        *ngFor="let news of newsList | categoryFilter: categoryFilter; index as i">
    <div class="card">
      <a (click)="viewArticle(i)" role="button">
        <img *ngIf="news" [src]="'data:' + news?.thumbnail_media_type + ';base64,' + news?.thumbnail_image"
          class="card-img-top">
      </a>
      <div class="card-body">
        <a (click)="viewArticle(i)" role="button">
          <h4 class="card-title">{{ news.title }}</h4>
        </a>
        <p class="card-abstract">
          {{ news.abstract | ellipsis }}
        </p>
        <span class="badge badge-pill badge-dark">
            {{ news.category }}
        </span>
        <!--<button class="btn btn-primary btn-sm" routerLink='/article-edition/123'>Edit article</button>-->
      </div>
    </div>
  </div>
</div>
