<div class="row margin-top-lg">
  <div class="col-lg-10 mx-auto">
    <div class="text-center">
      <h1>{{ article?.title }}</h1>
    </div>
  </div>
  <div class="col-lg-7 mx-auto text-center">
    <p class="body-lg">
      {{ article?.subtitle }}
    </p>
  </div>
</div>
<div class="row margin-bottom-md">
  <img *ngIf="article" [src]="'data:' + article?.image_media_type + ';base64,' + article?.image_data" class="img-fluid">
</div>
<div class="row margin-bottom-md">
  <div id="main-content" [innerHTML]="article?.body" class="col-xl-6 col-lg-7 mx-auto">

  </div>
</div>
<div class="row">
  <div class="col-xl-6 col-lg-7 mx-auto margin-bottom-md">
    <div class="stripe dark-background margin-bottom-sm"></div>
    <div>
      <h4>{{ article?.id_user }}</h4>
      <p class="secondary-text">{{ article?.update_date }}</p>
    </div>
  </div>
</div>

