<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/articles-list">NSC News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="(showCategories)" class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="(currentFilter == '') ? 'active' : ''">
        <a class="nav-link" (click)="setCategoryFilter('')">All <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="(currentFilter == 'Technology') ? 'active' : ''">
        <a class="nav-link" (click)="setCategoryFilter('Technology')" role="button">Technology</a>
      </li>
      <li class="nav-item" [ngClass]="(currentFilter == 'National') ? 'active' : ''">
        <a class="nav-link" (click)="setCategoryFilter('National')" role="button">National</a>
      </li>
      <li class="nav-item" [ngClass]="(currentFilter == 'Sports') ? 'active' : ''">
        <a class="nav-link" (click)="setCategoryFilter('Sports')" role="button">Sports</a>
      </li>
      <li class="nav-item" [ngClass]="(currentFilter == 'Economy') ? 'active' : ''">
        <a class="nav-link" (click)="setCategoryFilter('Economy')" role="button">Economy</a>
      </li>
      <li class="nav-item">
        <input [(ngModel)]="term" (keydown)="setTermsFilter($event)" type="text" placeholder="Search..."
          class="form-control-sm">
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="user" class="nav-item dropdown">
        <span class="nav-txt dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome, {{ user.username }}
        </span>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-item" role="button" (click)="logout()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out">
              <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
              <polyline points="16 17 21 12 16 7"></polyline>
              <line x1="21" y1="12" x2="9" y2="12"></line>
            </svg>
            Logout
          </a>
        </div>
      </li>
      <li *ngIf="!user"class="nav-item nav-btn">
        <button class="btn btn-primary btn-sm" routerLink='login'>Sign In</button>
      </li>
    </ul>
  </div>
</nav>
